LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 1, 0, 3, 233
PRODUCTVERSION 1, 0, 3, 233
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "David Hoyle\000"
      VALUE "FileDescription", "DGHIDEHelpHelper\000"
      VALUE "FileVersion", "1.0.3.233\000"
      VALUE "InternalName", "DGHIDEHelpHelper\000"
      VALUE "LegalCopyright", "David Hoyle\000"
      VALUE "LegalTrademarks", "David Hoyle\000"
      VALUE "OriginalFilename", "DGHIDEHelpHelper\000"
      VALUE "ProductName", "DGHIDEHelpHelper\000"
      VALUE "ProductVersion", "1.0c\000"
      VALUE "Comments", "An IDE Expert to search Google for unknown Identifers through F1\000"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 1033, 1252
  }
}
